<br>
<h1 style="text-align: center; font-weight: bold;" class="animate_animated animatebounce animate_repeat-2">Life is a
    journey
    Travel it well {{username}}</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" *ngFor= "let c of cars" style="padding-bottom: 20px;">
            <a routerLink="#" (click)="openVehicle(c.vehicleId)">
                <div class="card shadow-lg border-0">
                    <div class="card-header p-0">
                        <img [src]="c.vehicleImage" alt="Vehicle Image" class="card-img-top rounded-top"
                            style="height: 250px; object-fit: cover;">
                    </div>
                    <div class="card-body text-center">
                        <h2 class="card-title text-dark">{{c.vehicleName}}</h2>
                        <h5 class="text-muted">{{c.vehicleCompany}}</h5>
                        <p class="text-secondary mb-1">Fuel Type: {{c.fuelType}}</p>
                        <p class="text-secondary mb-3">Available: {{c.availabilityTime}}</p>
                        <h4><span class="badge bg-primary text-white">{{c.vehicleRating}}</span></h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>